<!DOCTYPE html>
{% comment %} product_detail {% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Описание: {{ product.description }}</p>
    <p>Цена: {{ product.price }} р.</p>
    <p>В наличии: {{ product.stock }}</p>
    
    <form action="{% url 'cart_add' product.slug%}" method="POST">
        {% csrf_token %}
        <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}">
        <button type="submit">Добавить в корзину</button>
    </form>

    <a href="{% url 'product_list' %}">Вернуться к списку товаров</a>
</body>
</html>
